@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: 'Share Tech Mono', monospace;
    user-select: none;
}

.station {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.station svg {
    height: 100%;
    width: 100%;
}

/*
 * COLOURS
 *
 * LightBlue: #122127
 * MediumBlue: #0b1519
 * DarkBlue: #091215
 * MediumGrey: #76797c
 * DarkYellow: #c9c571
 * Azure: #c0daf1
 */

/* TEXTS */

text {
    text-transform: uppercase;
    dominant-baseline: central;
}
