@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
    user-select: none;
    font-family: 'Share Tech Mono', monospace;
}

text {
    dominant-baseline: central;
}

text.hanging {
    dominant-baseline: hanging;
}
